.Secret-list-container{
   width:100%;
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 10px;
   
   
}

.main-secrets{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-width: 95%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.secret-list-header{
  flex: 0.023;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: auto;
}
.tables-container{
   flex: content;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
    background-color: transparent;
    padding:10px;
    width: 100%;
   
}
.table-container{
  overflow-x: auto;
}
.table-container::-webkit-scrollbar {
  width: 1px; 
  
}

.table-container::-webkit-scrollbar-thumb {
  background-color:transparent;
   
}
.table {
    display: table;
    width: 100%;
    overflow-y: scroll;
    border-collapse: collapse;
    background: transparent; 
  }
  
  .table th {
    padding: 20px;
    color: #ceb04f;
    text-align: center;
   background: none; 
   border-bottom: 1px solid #ceb04f;
    margin-top: 50px;
   
  }
  .table td {
    padding: 8px;
    color: #EAEAEA;
    border-bottom: transparent;
    text-align: center;
   background: none;
  }

  .table td button {
    margin: 0px 10px;
    background-color: #ceb04f;

  }




.add-btn {
    position: relative;
    font-size: 17px;
    margin: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 1em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: #EAEAEA;
    background-color: #ceb04f;
   }
   
   .add-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .add-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
 
   
   

   .add1-btn {
    position: relative;
    font-size: 17px;
    margin: 0px 10px;
    text-transform: uppercase;
  
    padding: 10px 20px;
    
    border-radius: 10px;
    border: 1px solid #ceb04f;
  
 
    font-family: inherit;
    font-weight: 50;
    color: #EAEAEA;
    background-color: #ceb04f;
   }

   .add1-btn:hover{
    background-color: transparent;
   }

   .canncel-btn{
   
      position: relative;
      font-size: 17px;
      margin: 0px 10px;
      text-transform: uppercase;
    
      padding: 10px 20px;
      
      border-radius: 10px;
      border: 1px solid #EAEAEA;
    
   
      font-family: inherit;
      font-weight: 50;
      background-color: transparent;
      color: #ceb04f;
   
  
   }
   .file-names .file-name {
    display: none;
  }
 
  
  .file-names .file-name:first-child {
    display: block;
  }
  
  .file-names:hover .file-name {
    display: block;
  }
  

   .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 10px;
  }
  
  .pagination li {
    margin-right: 10px;
  }
  
  .pagination a {
    display: block;
   padding: 5px;
    border-radius: 20%;
   
    text-align: center;
    text-decoration: none;
    text-decoration: dashed;
    background-color: #ceb04f;
    color: black;
   
  }
  
  .pagination a.active {
    background-color: #ceb04f;
    color: #EAEAEA;
  }
  
  .pagination a:hover {
    background-color: #EAEAEA;
    color: #ceb04f;
  }


  .model-input{
    border: 0.5px solid #EAEAEA;
    margin: 50px,0px;
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: block;
    
    padding: 15px;
    border-radius: 20px;
    
       color: #EAEAEA;
       outline: none;
    outline: none;
    font-family: "Nunito", serif;
    font-size: 1.125rem;
  }
  .Notmodel-input{
    border: 0.5px solid red;
    margin: 50px,0px;
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: block;
    outline: none;
    padding: 15px;
    border-radius: 20px;
    
       color: #EAEAEA;
   
    outline: none;
    font-family: "Nunito", serif;
    font-size: 1.125rem;
  }
  .ql-editor {
    
    
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    min-height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }


  .custom-editor {
    border-radius: 20px;
    max-height: 275px;
    
      overflow-y: auto;
      outline: none;
    border: 0.5px solid #EAEAEA;
    color: #c79d15;
   
  }
  .Notcustom-editor{
    border-radius: 20px;
    max-height: 300px;
    
      overflow-y: auto;
      outline: none;
    border: 0.5px solid red;
    color: #c79d15;
  }

 
  
 
  .ql-toolbar {
   
   background-color: rgba(0, 0, 0, 1);
    padding: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .ql-toolbar .ql-icon {
    background-color: #c79d15 !important;
  }
  
  /* Style the toolbar buttons */
  .ql-toolbar button {
 
    padding: 5px 10px;
    margin: 0 5px;
    color: #ceb04f;

  }
  
  /* Style the selected text */
  .ql-editor .ql-selected {
    background-color: transparent;
    outline: none;
  }
  .search-div{
    display: flex;
    justify-content: space-between;
   
   
  }
  
  .search-div1{
    display: flex;
    justify-content: space-between;
   
   align-items: center;
  }
  .inner-serachdiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    width: 50%;
  }
  @media (max-width: 768px) {
     .search-div{
      flex-direction: column;

     }
     .search-div1{
     display: flex;
     justify-content: center;
     align-items: center;

     }
     .css-1stwco6-MuiSpeedDial-root{
      z-index: auto 
      !important;
   }
   .css-1stwco6-MuiSpeedDial-root .MuiSpeedDial-actions{
     z-index: 9999 !important;
     
   }
   .table td{
     height: 100px;
   }
  
   
    .inner-serachdiv{
      justify-content: flex-start;
      width: 100%;
      padding: 0px 10px;

      
    }
    .add-btn{
      width: 30%;
      padding: 1em;
      font-size: 0.7rem;
    }
    .inner-serachdiv1{
     
       width:50%
    

    }
    .media-div1{
      display: flex;
    height: 20%;
        overflow: hidden;
     }
    .rmdp-container,.css-b62m3t-container{
      width: 80%!important;

    }
    .modal-mobile{
      width: 100% !important ;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .input-tag{
      width:100%
    }
    /* .table>thead{
      display: none;
    } */
   .media-div{
    display: flex;
    justify-content: flex-start;
      overflow: hidden;
   }
  
    /* tr th:nth-child(2),
    tr th:nth-child(3),
    tr th:nth-child(4),
    tr th:nth-child(5),
    tr th:nth-child(6)
     {
      
      display: none;
    }
    
    
    tbody, td, tfoot, th, thead, tr{
      display: list-item;
    }
    tr td:nth-child(1),
tr td:nth-child(4)
 {
  
  display: none;
}
tr td:nth-child(2)::before
 {
  content: "Title: "; 
   color:#ceb04f
} */
.css-1s28u9o-MuiSpeedDial-actions{
  position: absolute;
}
  }

  .input-tag{
    font-size: 17px;
      margin: 0px 10px;
    background-color: transparent;
    border: 2px solid #ceb04f;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ceb04f;
    outline: none;
   
  }

  
  
  .css-b62m3t-container{
    position: relative;
    box-sizing: border-box;
    width: 30%;
  }
 
  .input3-tag{
    font-size: 17px;
      margin: 10px 20px;
    background-color: transparent;
    border: 2px solid #ceb04f;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ceb04f;

   
outline: none;
  }
  .errors-input{
    
outline: none;
    font-size: 17px;
      margin: 10px 20px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ceb04f;
   
  }
  .rmdp-toolbar div {
    background-color: #ceb04f !important;
  }

  .rmdp-week-day{
    color: #ceb04f !important;
    font-size: 10px !important

   
  }
  .rmdp-header{
    font-size: 10px !important
  }
  .rmdp-day, .rmdp-week-day{
    width: 20px  !important;
    height: 20px !important;
  }
  .rmdp-day span{
    font-size: 11px !important;
  }
  .rmdp-day.rmdp-today span{
    background-color: #ceb04f !important;
   
  }
  .rmdp-day:not(.rmdp-disabled,.rmdp-day-hidden) span:hover{
    background-color: #ceb04f !important;
  }
  .MuiOutlinedInput-input{
    border-color: #c79d15 !important;
    color: #c79d15 !important;
  }
  .MuiDateRangeCalendar-root{
    color: #c79d15;
   
   
    
  } 
 
  .basic-single2.css-b62m3t-container{
        width:100% !important;
      
        
  }
  .select-btn{
    position: relative;
  font-size: 17px;
  margin: 0px 10px;
  text-transform: uppercase;

  padding: 10px 20px;
  
  border-radius: 20px;
  border: 2px solid #ceb04f;
  
    background-color: transparent; /* Change the background color */
    /* Change the text color */

  
    background: transparent !important;

  font-family: inherit;
  font-weight: 50;
  color: #ceb04f;
 
}

.css-13cymwt-control{
border: 2px solid #ceb04f !important;
background-color: transparent !important;
 padding: 5px;
 color: #ceb04f !important;
 border-radius: 20px !important;
 min-height: 0px !important;
 outline: none;

}
.css-1dimb5e-singleValue{
  color: #ceb04f !important;
  text-decoration: solid;
  font-weight: 50 !important;
  
}
.css-1xc3v61-indicatorContainer{
  color: #ceb04f !important;
}
.css-1xc3v61-indicatorContainer:hover{
  color: #ceb04f !important;
}
.css-t3ipsp-control{
  border: 2px solid #ceb04f !important;
 background-color: transparent !important;
 padding: 5px ;
 color: #ceb04f !important;
 border-radius: 20px !important;
 min-height: 0px !important;
 outline: none ;
 box-shadow: none !important;
}

.css-1nmdiq5-menu  {
  color: #ceb04f !important;
 
  border-radius: 20px !important;
}
.basic-select__option:hover {
  color: #EAEAEA !important;
   background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
}
.basic-select2__option:hover {
  color: #EAEAEA !important;
   background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
}
.css-1nmdiq5-menu div{
  color: #ceb04f;
  border-radius: 20px !important;
}
.basic-select__option--is-selected{
  background-color: #ceb04f !important;
  color: #EAEAEA !important;
}

.basic-select2__option--is-selected{
  background-color: #ceb04f !important;
  color: #EAEAEA !important;
}
.autocomplete-container{
  position: relative;
}
.autocomplete-items{
  background-color: black;
  color: #EAEAEA;
  overflow-y: auto;
  max-height: 150px;
  position: absolute;
  width: 100%;
 
  top: 100%;
  left: 0%;
 z-index: 1;
}
.autocomplete-items::-webkit-scrollbar {
  width: 10px; 
  
 
}



.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  background-color: rgba(206, 176, 79, 0.5);
  color: #EAEAEA;

}


.PhoneInput{
  width: 98%;
  height: 47px;
  margin: auto;
  border: 2px solid #ceb04f;
  border-radius: 20px;
}
.PhoneInputInput{
  font-size: 17px;
 
background-color: transparent;
border: none;

outline: none;
color: #ceb04f;

}

.errors-PhoneInput{
  padding: 10px 20px;
  width: 98%;
  height: 47px;
  margin: auto;
  border: 2px solid red;
  border-radius: 20px;
}


.css-knqc4i-MuiDialogActions-root{
  background-color: rgba(0, 0, 0, 0.5);
  color: #ceb04f;
}
.css-knqc4i-MuiDialogActions-root button{
  color: #ceb04f;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  outline: none;
  background-color: none !important;
  color: #ceb04f;
 border: 2px solid   #ceb04f;
 border-radius: 20px !important;
 height: 50px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root input {
 color: #ceb04f;
 cursor: pointer;
 border-radius: 20px;
 outline: none;
 background-color: transparent;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:focus{
  border: 2px solid #c79d15;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
       border: none !important;
}





.underline-title {
  background: -webkit-linear-gradient(right, #c79d15, #2ec06f);
  height: 3px;
  margin: 5px;
  width: 89px;
}
.box-1{
  background-color: rgba(0, 0, 0, 0.7);
 display: flex;
 flex-direction: column;
 padding: 10px;

 width: 350px;
}

.btn-div{
  margin: 0px ,20%;
   display: flex;
   padding: 5%;
  
  
}

/* Add reduced opacity style for hiderow-privacy */
.row-edit-btn-grp{
  opacity: 1 !important;
}
.hiderow-privacy {
  position: relative;
}
.hiderow-privacy td{
  opacity: 0.1;
  pointer-events: none;
}
.hiderow-privacy .row-edit-btn-grp{
  pointer-events: auto;
}
.hiderow-privacy .row-edit-btn-grp button{
  opacity: 0.1;
  pointer-events: none;
}
.hiderow-privacy .row-middle-btn-grp{
    display: flex;
}
.hiderow-privacy .row-middle-btn-grp button{
  opacity: 1 !important;
  pointer-events: auto;
}
.row-middle-btn-grp{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  gap: 10px;
}

/* Style for hidden buttons */
.hidden-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hidden-buttons {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  /* Add styles for your buttons as needed */
}

/* Hide the hidden buttons when hiderow-privacy is active */
.hiderow-privacy > .hidden-buttons {
  display:flex;
}



.MuiList-root .MuiList-padding .MuiMenu-list .css-6hp17o-MuiList-root-MuiMenu-list{
 
  color: #ceb04f;
 
}

.MuiMultiSectionDigitalClock-root .css-1s3wx5b-MuiMultiSectionDigitalClock-root{

  color: #ceb04f;
  margin: 30px;
}

.MuiPickersLayout-contentWrapper .css-16b5y55-MuiPickersLayout-contentWrapper{

  color: #ceb04f;
  border: none;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
  color: #ceb04f !important;
}
.css-1s3wx5b-MuiMultiSectionDigitalClock-root{
  color: #ceb04f !important;
 
}



.css-i4bv87-MuiSvgIcon-root{
  color: #ceb04f;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  color: #ceb04f !important;
  border: 2px solid #ceb04f;
  
}


.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  color: #ceb04f !important;
  border: 2px solid #ceb04f  !important;
  margin: 10px;
}


.rmdp-input{
  font-size: 17px;
 
background-color: transparent;
border: none !important;
outline: none;
color: #ceb04f;
width: 100%;
}

.rmdp-container {
  font-size: 17px;
  margin: 10px;
background-color: transparent;
border: 2px solid #ceb04f;
border-radius: 20px;
padding: 10px ;
color: #ceb04f;
width: 30%;
}
.loader {
  border: 5px solid #EAEAEA;
  border-radius: 50%;
  border-top: 5px solid #ceb04f;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.select-btn>option:hover {
  background-color: #ceb04f !important;
}
