*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 body{
 
   background-image: url('../../assests/image-1.jpg');
   background-color:rgba(0,0,0, 0.4) ;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
   
  }
  .form-container{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    margin: 40px auto;
  }
  .form {
   display: flex;
   width: 40%;
   flex-direction: column;
    font-family: "Nunito", serif;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
    height: 100%;
   
      }
  
  .form h1 {
    text-align: start;
    color: #ceb04f;
    font-size: 2.5rem;
   
   }
   .form-input {
     display: block;
     width: 80%;
     margin: 10px 0px;
   
     padding: 3px 5px;
     border: none;
     border-radius:5px;
     border: 2px solid #ceb04f;
     outline: none;
     font-family: "Nunito", serif;
     font-size: 1rem;
      }
     

      .input-error{
        display: block;
        width: 80%;
        margin: 10px 0px;
        padding: 3px 5px;
        border: none;
        border-radius:5px;
        border: 2px solid red;
        outline: none;
        font-family: "Nunito", serif;
        font-size: 1rem;
      }
      .setthis{
        font-weight: bold;
        text-align: start;
        
       
      }
      .forgetpass{
        font-weight: lighter;
      }
      .form-textarea{
        display: block;
        width: 80%;
        margin: 10px 0px;
        padding: 3px 5px;
        border: none;
        border-radius:5px;
        border: 2px solid #ceb04f;
        outline: none;
        font-family: "Nunito", serif;
        font-size: 1rem;
      }
      .error-message {
        color: red;
        font-size: 10px;
      
        width: 80%; /* Adjust the margin as needed */
      }
  .form label{
    
    
   
     color: #ceb04f;
     font-weight: bold;
     text-align: start;
  }
  .form .term{
     margin-left: -30%;
  
    }
  .form button {
    display: block;
    width: 80%;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    background-color: #ceb04f;
    color: #EAEAEA;
    font-family: "Nunito", serif;
    font-size: 1.125rem;
    cursor: pointer;
      }
  
  .form button:hover {
     background-color: #EAEAEA;
     color: #ceb04f;
      }
  .form a{
     display: block;
     text-align: left;
     color: #ceb04f;
     padding-left: 10%;
     text-decoration: none;
      }
  
      .form a span:hover {
        text-decoration: underline;
        color: red;
      }
  .image-container {
   width: calc(50% - (50px /2));
    flex:.7;
   height: auto;
        position: relative;
        
      
      }
  .image-container img {
     margin-top: 20px;
        width: 85.60%;
       
        height: auto;
  
        object-fit: cover;
  
      }
      .back-btn{
        background:none ;
        border:none ;
        margin:0;
        padding:0;
        cursor: pointer;
    }

    .profile-pic {
      color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    
    .profile-input {
      display: none;
    }
    
    .profile-img {
      position: absolute;
      object-fit: cover;
      width: 200px;
      height: 200px;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
      border-radius: 50px;
      z-index: 0;
    }
    
    .profile-pic .-label {
      cursor: pointer;
      height: 200px;
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 10000;
      color: rgb(250, 250, 250);
      transition: background-color 0.2s ease-in-out;
      border-radius: 50px;
      margin-bottom: 0;
      opacity: 0; /* Initially hidden */
    }
    
    .profile-pic .-label span.glyphicon-camera {
      font-size: 36px;
    }
    
    .profile-pic:hover .-label {
      opacity: 1; /* Show on hover */
    }
  
  /* Media Queries*/
  @media screen and (max-width :768px) {
    .form-container {
      flex-direction : column;
  }
  .form button{
    padding-left: 20px;
    }
  .image-container {
     
         
      width: 100%;
    }
    .form{
      width :100%;
      justify-content: center;
    }
    .form h1{
      margin-top: 10px;
    }
  }
  
.loading-animation {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-top: 40vh;
  color: #ceb04f;
  font-size: 4em;

}

.loading-animation p {
  display: inline-block;
  animation: bounce 1s infinite ease-in-out;
  color: #ceb04f;
    font-weight: bolder;
}

.loading-animation p:nth-of-type(2) {
  animation-delay: 0.1s;
}

.loading-animation p:nth-of-type(3) {
  animation-delay: 0.2s;
}

.loading-animation p:nth-of-type(4) {
  animation-delay: 0.3s;
}

.loading-animation p:nth-of-type(5) {
  animation-delay: 0.4s;
}

.loading-animation p:nth-of-type(6) {
  animation-delay: 0.5s;
}

.loading-animation p:nth-of-type(7) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  30% {
    transform: translateY(-100px);
  }
  60% {
    transform: none;
  }
}
